
   .main-container{

     overflow-y: scroll;
     height: 79%;
     margin-top: 0%;
     padding: 0px;
     background-color: brown;


    .instruction{

        height: fit-content;
        padding: 1.5%;
        padding-bottom: 0%;
        color: white;
    
        p{
            font-size: large;
        }

        h1{
            font-weight: bold;
        }
    }

    .centre-div{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2%;

      a{
        height: 100px;
        width: 100px;
        background-color: #f5f6fa;
        border-radius: 50px;
        text-align: center;
        margin: 10px;
        line-height: 110px;
        box-shadow: 1px 4px 2px 2px #dcdde1;
      }

      a i{
        transition: all 0.3s linear;
      }

      a:hover i{
        transform: scale(1.4);
      }

      .fa-instagram{
        color: #e84393;
      }
      .fa-twitter{
        color: #0097e6;
      }
    }
       
       .main{
       
        margin: 2%;
        display: flex;
        flex-direction: row;
        height: max-content;
        margin-top: 0%;
        align-items: center;
        justify-content: center;
    
        .card{
            width: 25%;
            display: inline-block;
            box-shadow: 2px 2px 20px black;
            border-radius: 5px; 
            margin: 2%;
            height: 40%;
            opacity: 1;
    
            .image img{
                width: 100%;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                
              
               
               }
    
            .title{
        
                text-align: center;
                padding: 10px;
                
               }
    
               .des{
                padding-left: 2px;
                padding-right: 2px;
                text-align: center;
               
                      border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
              }   
    
              button{
                margin-top: 40px;
                margin-bottom: 10px;
                background-color: white;
                border: 1px solid black;
                border-radius: 5px;
                padding:10px;
              }
              button:hover{
                background-color: black;
                color: white;
                transition: .5s;
                cursor: pointer;
              }
           }
    
              
       }
   }
   

   
   
   
   