<app-nav-bar></app-nav-bar>

<div class="main-container">

    <div class="instruction">
        <h1>Instructions</h1>
        <p>1. You can choose any mandi of your choice to buy crops provided check the availability</p>
        <p>2. Once order is confirmed you are supposed to reach out to the mandi to collect it</p>
        <p>3. Payment is to be done at mandi</p>
        <p>4. You need to sign up and login to place any order</p>
        <br><br>
        <h1>Benefits</h1>
    </div>

    

    <div class="main">

        <div class="card">
    
            <div class="image">
               <img src="../../assets/transport.jpg">
            </div>
            <div class="title">
                <button onclick="location.href='https://smallbusiness.chron.com/transportation-issues-warehouse-could-36091.html';" target="_blank">Transportation</button>
            </div>
            <div class="des">
             <p>
                 All the material is collected from a single mandi so transportation charges reduce by a large margin
            </p>
            </div>
        </div>

        <div class="card">
    
            <div class="image">
               <img src="../../assets/single-source.jpg">
            </div>
            <div class="title">
                <button onclick="location.href='https://www.jstor.org/stable/3144474?seq=1';">Single Source</button>
            </div>
            <div class="des">
             <p>
            Abundant quantity of crops can be purchased from single point of source</p>
            </div>
        </div>

        <div class="card">
    
            <div class="image">
               <img src="../../assets/pulses.jpg">
            </div>
            <div class="title">
                <button onclick="location.href='https://www.sciencedirect.com/topics/agricultural-and-biological-sciences/crop-quality';">Quality Product</button>
            </div>
            <div class="des">
             <p>
            Different grade of quality grains are available. You can purchase the crops of different quality based on your requirement</p>
            </div>
        </div> 
    
    </div>

    <div class="instruction" style="text-align: center;">
        <h1 routerLink="" style="cursor: pointer;">Privacy Policy</h1><h1 routerLink="/contact-us" style="cursor: pointer;">Help</h1>
    </div>

    <div class="centre-div">
        <a href="https://www.facebook.com" target="_blank">
            <i class="fa fa-2x fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <i class="fa fa-2x fa-instagram"></i>
        </a>
        <a href=" https://twitter.com" target="_blank">
            <i class="fa fa-2x fa-twitter"></i>
        </a>
    </div>
</div>

<app-footer></app-footer>
