<app-nav-bar></app-nav-bar>

<div class="main-container">

    <div class="instruction">
        <h1>Instructions</h1>
        <p>1. ewu  oiyut utyy</p>
        <p>2. sdfg hgjk kjhfdfghjjhgf ytr</p>
        <p>3. sdfg hgjk kjhfdfghjjhgf ytr</p>
        <p>4. sdfg hgjk kjhfdfghjjhgf ytr</p>
        <p>5. sdfg hgjk kjhfdfghjjhgf ytr</p>
    </div>

    <div class="main">

        <div class="card">
    
            <div class="image">
               <img src="../../assets/cookery.jpg">
            </div>
            <div class="title">
                <button>Cook Books</button>
            </div>
            <div class="des">
             <p>
            You can Add Desccription Here...</p>
            <button>Read More...</button>
            </div>
        </div>
    
        <div class="card">
    
            <div class="image">
               <img src="../../assets/cookery.jpg">
            </div>
            <div class="title">
                <button>Cook Books</button>
            </div>
            <div class="des">
             <p>
            You can Add Desccription Here...</p>
            <button>Read More...</button>
            </div>
        </div>    
    
    </div>
</div>
