<app-header></app-header>

<nav class="navbar is-white has-shadow" role="navigation" aria-label="main navigation">

  <div #menu class="navbar-menu">
    <div class="navbar-start">
      <button class="button is-primary" [routerLink]="['/buyer/buycrops']" routerLinkActive>
        BuyCrops
      </button>
      <button class="btn btn-success" [routerLink]="['/buyer/viewTransaction']" style="margin-top: 17px; margin-left: 30px;">View
        Transactions</button>
    </div>
  
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Profile </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" [routerLink]="['/buyer/viewProfile']" routerLinkActive> View Profile </a>
          <a class="navbar-item" (click)="logout()"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<app-footer></app-footer>