 
<app-buyer></app-buyer>

    <form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm)" style="overflow: scroll; height: 70%; width: 40%; overflow-x: hidden; margin-left: 30%;">

      <div class="field">
        <label>Id</label>
        <div class="control">
          <input class="input" required type="text" [(ngModel)]="buyer.buyerId" name="buyerId" readonly>
        </div>
      </div>

      <br>

        <div class="field">
            <label>Name</label>
            <div class="control">
              <input class="input" required type="text" [(ngModel)]="buyer.buyerName" name="buyerName" pattern="[a-zA-Z]{3,15}([ ][a-zA-Z]{3,15})?([ ][a-zA-Z]{3,15})?" #Name="ngModel">
              <span class="help-block" *ngIf="Name.errors?.pattern" style="color: red;">Invalid Name</span>
            </div>
          </div>

          <br>
          
          <div class="field">
            <label>Password</label>
            <div class="control">
                <input matInput [type]="hide ?'password':'text'" class="input" required type="text" [(ngModel)]="buyer.password" name="password" pattern="^(?=.*[0-9])(?=.*[a-z]).{6,12}$" #pwd="ngModel">
                <i class="material-icons" matSuffix (click)="hide = !hide">
                  {{hide ? 'visibility':'visibility_off'}}
                </i>
                <span class="help-block" *ngIf="pwd.errors?.pattern" style="color: red;">Password should be Minimum 6
                  characters
                  and Maximum 12
                  characters which includes atleast one number</span>
              </div>
          </div>

          <br>
          
          <div class="field">
            <label>Phone Number</label>
            <div class="control">
                <input class="input" required type="text" [(ngModel)]="buyer.phoneNumber" name="phoneNumber" pattern="^[2-9]{1}[0-9]{9}$" #mobile="ngModel">
                <span class="help-block" *ngIf="mobile.errors?.pattern" style="color: red;">MobileNumber Should be 10
                  Digits and It should not start with 0</span>
              </div>
          </div>
    
          <br>
          
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary" [disabled]="!profileForm.valid" type="submit">Update</button>
            </div>
            <div class="control">
              <button class="button is-primary" style="background-color: red;" type="button" (click)="onCancel()">Cancel</button>
            </div>
          </div>
            
    </form>



    



