
<app-buyer></app-buyer>

    <form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm)">

      <div class="field">
        <label class="label">Id</label>
        <div class="control">
          <input class="input" required type="text" [ngModel]="buyer.buyerId" name="buyerId" [disabled]="true">
        </div>
      </div>

        <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" required type="text" [ngModel]="buyer.buyerName" name="buyerName">
            </div>
          </div>
          
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" required type="text" [ngModel]="buyer.password" name="password">
              </div>
          </div>
          
          <div class="field">
            <label class="label">Phone Number</label>
            <div class="control">
                <input class="input" required type="text" [ngModel]="buyer.phoneNumber" name="phoneNumber">
              </div>
          </div>
    
          <br>
          
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary" type="submit">Update</button>
            </div>
          </div>
            
    </form>



    



