@import '../../../mainstyles.scss';

form{

    margin-top: 50px;
    margin-left: 650px;
    height: 700px;
    width: 700px;
    background-color: $beige-light;
    padding: 20px 20px 20px;

    .field{

        margin-top: 10px;

        input{
            padding: 3px;
            font-size: x-large;
        }
    
        label{
            font-size: x-large;
        }

        button{
            height: 60px;
            width: 130px;
            font-size: x-large;
        }

        .control i{
            position: absolute;
            margin-left: -40px;
            margin-top: 20px;
            cursor: pointer;
        }
    }
    
}