<app-admin></app-admin>
<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

            <form [formGroup]="UpdateForm" (ngSubmit)="onSubmit()">
                <div id="user-data">
                    <div class="form-group">
                        <label for="cropName">Enter crop name </label>
                        <input type="text" id="name" class="form-control" formControlName="cropName">
                        <p class="text-danger"
                            *ngIf="!UpdateForm.get('cropName').valid && UpdateForm.get('cropName').touched">Crops name
                            is required</p>


                    </div>
                    <div class="form-group">
                        <label for="cropClass">Enter crop class </label>
                        <input type="text" id="class" class="form-control" formControlName="cropClass">
                        <p class="text-danger"
                            *ngIf="!UpdateForm.get('cropClass').valid && UpdateForm.get('cropClass').touched">Crops
                            class
                            is required</p>

                    </div>
                    <div class="form-group">
                        <label for="cropClass">Enter new price </label>
                        <input type="text" id="price" class="form-control" name="cropPrice" formControlName="price" 
                        >
                        <p class="text-danger"
                            *ngIf="!UpdateForm.get('price').valid && UpdateForm.get('price').touched">Please enter
                            new price</p>
                        <span>
                            <button class="btn btn-primary" type="button" (click)="getPreviousPrice()"  
                            [disabled]="!UpdateForm.get('cropClass').valid  || !UpdateForm.get('cropName').valid " 
                            >Get Previous
                                cost</button>
                        </span>

                    </div>
                    <div class="form-group">
                        <span class="help-block" *ngIf="!UpdateForm.valid && UpdateForm.touched">All fields are
                            required</span>
                        <button class="btn btn-primary" [disabled]="!UpdateForm.valid" (click)="printSuccessMessage()"
                        style="margin-top: 6px;" >Update New Price</button>
                         
                            <button id="cancel" class="button"  type="button" (click)="onCancel()">Cancel</button>
                          
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>