<app-home-page></app-home-page>
<div class="container">
    <div class="row" style="overflow: scroll; height: 90%; width: 100%; overflow-x: hidden; ">

        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" id="form">
            <h1>
                <b>Farmer Signup Form</b>
            </h1>
            <form (ngSubmit)=onSubmit(f) #f="ngForm">
                <div id="user-data">
                    <div class="form-group">
                        <label for="name">Enter name </label>
                        <input type="text" id="name" class="form-control" ngModel name="name" required #name="ngModel"
                            pattern="[a-zA-Z]{3,15}([ ][a-zA-z]{3,15})?([ ][a-zA-Z]{3,15})?[ ]?"
                            [(ngModel)]="farmer.farmerName">
                        <span class="help-block" *ngIf="!name.valid && name.touched">Please entered a vaild name.
                        </span>
                        <span *ngIf="name.errors?.pattern">Invalid name</span>

                    </div>
                    <div class="form-group">
                        <label for="mobileNo">Enter Mobile number </label>
                        <input type="text" id="mobileNo" class="form-control" ngModel name="mobileNo" required
                            #mobileNo="ngModel" pattern="[1-9][0-9]{9}" [(ngModel)]="farmer.mobileNumber">
                        <span class="help-block" *ngIf="!mobileNo.valid && mobileNo.touched">Please entered a vaild
                            mobile number.
                        </span>
                        <span *ngIf="mobileNo.errors?.pattern">Invalid Mobile Number</span>

                    </div>

                    <div class="form-group">
                        <label for="SecurityQuestion">Security Question </label>
                     <select name="singleSelect" class="form-control" required ng-model="data.singleSelect" required
                        [(ngModel)]="farmer.securityQuestion" name="securityQuestion">
                        <option value="What is your pet name?">What is your pet name? </option>
                        <option value="Who is Your favourite actor?">Who is Your favourite actor?</option>
                        <option value="What is Your city name?">What is Your city name?</option>
                        <option value=" What is Your date of birth?"> What is Your date of birth? </option>
                        <option value="What are the last four digits of your phone number?">What are the last four digits of your
                          phone number?</option>
            
                      </select>

                    </div>

                    <div class="form-group">
                        <label for="SecuritAnswer">Security Answer </label>
                        <input type="text" id="SecurityAnswer" class="form-control" ngModel name="SecurityAnswer"
                            required #securityAnswer="ngModel" [(ngModel)]="farmer.answer">
                        <span class="help-block"
                            *ngIf="securityAnswer.touched && securityAnswer.errors?.required">Answer is
                            required</span>
                    </div>

                    <div class="form-group">
                        <label for="Aadhar">Enter Aadhar number </label>
                        <input type="text" id="Aadhar" class="form-control" ngModel name="Aadhar" required
                            #aadhar="ngModel" pattern="[1-9][0-9]{11}" [(ngModel)]="farmer.aadharNumber">
                        <span class="help-block" *ngIf="aadhar.touched && aadhar.errors?.required">Aadhar is
                            required</span>
                        <span *ngIf="aadhar.errors?.pattern">Invalid Aadhar no.</span>

                    </div>

                    <div class="form-group">
                        <div class="field">
                            <label for="name">Enter Password </label>
                            <div class="control">

                                <input matInput [type]="hide ?'password':'text'" class="form-control" id="password"
                                    pattern="^(?=.*[0-9])(?=.*[a-z]).{6,12}$" #password="ngModel" required
                                    [(ngModel)]="farmer.password" name="password">
                                <i class="material-icons" matSuffix (click)="hide = !hide">
                                    {{hide ? 'visibility':'visibility_off'}}
                                </i>
                                <span class="help-block" *ngIf="password.touched && password.errors?.required">Password
                                    is
                                    required </span>

                                <span class="help-block" *ngIf="password.errors?.pattern" style="color: red;">Password
                                    should be Minimum 6 characters and Maximum 12
                                    characters which includes atleast one number</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="field">
                            <label for="password" class="form-label">Enter Confirm Password </label>
                            <div class="control">

                                <input matInput [type]="hide1 ?'password':'text'" class="form-control"
                                    id="ConfirmPassword" pattern="^(?=.*[0-9])(?=.*[a-z]).{6,12}$"
                                    #ConfirmPassword="ngModel" required [(ngModel)]="confirmPassword"
                                    name="ConfirmPassword">
                                <i class="material-icons" matSuffix (click)="hide1 = !hide1">
                                    {{hide1 ? 'visibility':'visibility_off'}}
                                </i>
                                <span class="help-block"
                                    *ngIf="ConfirmPassword.touched && ConfirmPassword.errors?.required">Confirm Password
                                    is
                                    required </span>

                                <span class="help-block" *ngIf="ConfirmPassword.errors?.pattern"
                                    style="color: red;">Password
                                    should be Minimum 6 characters and Maximum 12
                                    characters which includes atleast one number</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Enter Account Number </label>
                        <input type="text" id="Account" class="form-control" ngModel name="Account" required
                            #accountNo="ngModel" pattern="[1-9][0-9]{10,16}" [(ngModel)]="farmer.accountNumber">
                        <span *ngIf="accountNo.errors?.pattern">Invalid Account Number</span>
                        <span class="help-block" *ngIf="accountNo.touched && accountNo.errors?.required">Account number
                            is
                            required</span>

                    </div>
                    <div class="form-group">
                        <label for="name">Enter IFSC </label>
                        <input type="text" id="IFSC" class="form-control" ngModel name="IFSC" required
                            [(ngModel)]="farmer.ifsc" #ifsc="ngModel" pattern="[A-Z]{4}[0-9]{7}">
                        <span class="help-block" *ngIf="ifsc.touched && ifsc.errors?.required">IFSC is
                            required</span>
                        <span *ngIf="ifsc.errors?.pattern">First 4 should be alphabet followed by 7 digit</span>
                    </div>
                    <div class="form-group">
                        <label for="name" class="form-label">Enter Bank Name </label>
                        <input type="text" id="Bank" class="form-control" ngModel name="Bank" required
                            [(ngModel)]="farmer.bankName" #bank="ngModel" pattern="[a-zA-Z]{1,15}">
                        <span class="help-block" *ngIf="bank.touched && bank.errors?.required">Bank name is
                            required</span>
                        <span *ngIf="bank.errors?.pattern">Only characters are allowed</span>
                    </div>
                </div>

                <div>
                    <button class="btn btn-success" [disabled]="!f.valid">Submit</button>

                </div>


            </form>

        </div>
    </div>
</div>
<app-footer></app-footer>