<app-home-page></app-home-page>
<div class="container">
  <form [formGroup]="passForm">
    <table>
      <th>Fill in the details</th>

      <tr>
        <td>User ID:</td>
        <td>
          <input type="text" name="userId" formControlName="userId" />
        </td>
      </tr>
      <tr>
        <td>User type:</td>
        <td>
          <select id="UserType" name="UserType" formControlName="userType">
            <option value="farmer">Farmer</option>
            <option value="clerk">Clerk</option>
            <option value="buyer">Buyer</option>
            <option value="admin">Admin</option>
            <option value="sAdmin">SuperAdmin</option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button type="submit" class="btn btn-primary" (click)="Submit()">
            Submit
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
