<app-clerk></app-clerk>

<form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm)"
    style="overflow: scroll; height: 70%; width: 40%; overflow-x: hidden; margin-left: 30%;">

    <div class="field">
        <label>Id</label>
        <div class="control">
            <input class="input" required type="text" [ngModel]="clerk.clerkId" name="clerkId" readonly>
        </div>
    </div>

    <br>

    <div class="field">
        <label>Name</label>
        <div class="control">
            <input class="input" required type="text" [ngModel]="clerk.clerkName" name="clerkName" readonly>
        </div>
    </div>

    <br>

    <div class="field">
        <label>Password</label>
        <div class="control">
            <input matInput [type]="hide ?'password':'text'" class="input" required type="text"
                [ngModel]="clerk.password" name="password" pattern="^(?=.*[0-9])(?=.*[a-z]).{6,12}$" #pwd="ngModel">
            <i class="material-icons" matSuffix (click)="hide = !hide">
                {{hide ? 'visibility':'visibility_off'}}
            </i>
            <span class="help-block" *ngIf="pwd.errors?.pattern" style="color: red;">Password should be Minimum 6
                characters
                and Maximum 12
                characters which includes atleast one number</span>
        </div>
    </div>

    <br>

    <div class="field">
        <label>Phone Number</label>
        <div class="control">
            <input class="input" required type="text" [ngModel]="clerk.mobileNumber" name="mobileNumber"
                pattern="^[2-9]{1}[0-9]{9}$" #mobile="ngModel">
            <span class="help-block" *ngIf="mobile.errors?.pattern" style="color: red;">Mobile number should be 10
                digits and it should not start with 0</span>
        </div>
    </div>

    <br>

    <div class="field">
        <label>Email ID</label>
        <div class="control">
            <input class="input" required type="text" [ngModel]="clerk.emailId" name="emailId" readonly>
        </div>
    </div>

    <br>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary" [disabled]="!profileForm.valid" type="submit">Update</button>
        </div>
    </div>

</form>