.container{
    text-emphasis-color: Red;
    width: 50%;
    background-color: wheat;
    opacity: 0.8;
    border: 1px red solid;
    padding: 10px;
    margin-top: 10px;

    .staticForm{
        margin-left: auto;
        margin-left: auto;
        input{
            margin-left: 1%;
            width: 25%;
            margin-right: 2%;
        }
        button{
            margin-left: 5%;
            background-color: brown;
            color: white;
        }
    }

    .columnHeadings{
        width: 100%;
        text-align: center;
        h3{
            display: inline;
            margin-left: 12%;
            margin-right: 6%;
            color: black;
            font-weight: bold;
        }
        
    }
}

.dynamicForm{
    height: 350px;
    overflow-y: scroll;
}

.dynamicFormHeading{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.row{
    width: 100%;
    margin-right: 10%;
    
    .form-group{
        max-width: 50%;
        display: inline;
        margin-left: auto;
        margin-right: auto;
    }
    input{
        width: 100%;
        margin-left: 5%;
    }
    button{
        text-align: center;
        margin-left: 10%;
    }
}

button{
    opacity: 1;
}

#crossButton{
    padding-left: 20%;
}

