<app-clerk></app-clerk>

<div class="container">
    <div class="staticForm">
        <label>Farmer ID:</label>
        <input type="text" placeholder="Enter farmer ID..." [(ngModel)]="farmerId" [disabled]="disableAddCropDetails" />
        <label>No. of crop types:</label>
        <input type="text" placeholder="Enter number of crop types..." [(ngModel)]="noOfCropTypes"
            [disabled]="disableAddCropDetails" />
        <button (click)="onStaticSubmit()" [disabled]="disableAddCropDetails">
            Add Crop Details
        </button>
    </div>
</div>

<div class="container" *ngIf="staticSubmit == true">
    <div class="dynamicForm">
        <form novalidate [formGroup]="FormGroup" >
            <div class="row">
                <div class="form-group">
                    <div style="margin-top:0px;" formGroupName="itemRows">
                        <div class="dynamicFormHeading">
                            <h1>Crop Details</h1>
                        </div>
                        <div class="columnHeadings">
                            <h3>CROP NAME</h3>
                            <h3>CROP QUANTITY</h3>
                        </div>
                        <ng-container *ngIf='FormGroup.controls.itemRows!=null'>
                            <div *ngFor="let itemrow of FormGroup.controls.itemRows.controls; let i=index"
                                [formGroupName]="i">
                                <div class="row">
                                    <div class="form-group">
                                        <input matInput placeHolder="Enter crop name..." formControlName="CropName">
                                    </div>
                                    <div class="form-group">
                                        <input matInput placeHolder="Enter qty in quintals..."
                                            formControlName="CropQty">
                                    </div>
                                    <div class="form-group" id="crossButton">
                                        <button (click)="deleteRow(i)" class="btn btn-danger"
                                            style="opacity: 1;">X</button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <div class="form-group">
                            <button type="button" (click)="addNewRow()"
                                style="opacity: 1; margin-left: 37%; margin-top: 5%; margin-bottom: 5%;"
                                class="btn btn-primary">Add
                                Record</button>
                        </div>
                    </div>
                    <div class="form-group" style="text-align:center;">
                        <button style="background-color: green; opacity: 1; margin-left: 20%;" type="button"
                            (click)="onDynamicSubmit()" [disabled]="dynamicSubmit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                    <div class="form-group" style="text-align:center;">
                        <button style="background-color: red; opacity: 1; margin-left: 30%" type="button"
                            (click)="onCancel()" [disabled]="FormGroup.invalid" class="btn btn-primary">
                            Reset
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>