<app-nav-bar></app-nav-bar>
<div class="container">
  <form [formGroup]="addAdminForm">
    <div class="mb-3">
      <label for="mail" class="form-label">Enter Email Id</label>
      <input
        type="email" 
        class="form-control"
        id="mail"
        placeholder="Email Id"
        formControlName="emailId"
        required
      /><span style="color:red;" *ngIf="!addAdminForm.get('emailId').valid && addAdminForm.get('emailId').touched ">invalid Email</span>
    </div>
    <div class="mb-3">
      <label for="state" class="form-label">Enter State</label>
      <input
        type="text"
        class="form-control"
        id="state"
        placeholder="State"
        formControlName="state"
        required
      />
    </div>
    <div class="mb-3">
      <input
        type="submit"
        class="btn btn-primary"
        (click)="submit()"
        [disabled]="!addAdminForm.valid"
      /><span class="col">
      <button (click)="Cancel()" class="btn btn-danger">Cancel</button>
      </span>
    </div>
  </form>
</div>
