<app-header></app-header>
<app-nav-bar></app-nav-bar>
<div class="container">
  <form [formGroup]="sqCheckForm">
    <div class="form-group">
      <label for="SecurityQuestion">Select your security question </label>
      <select
        class="form-control"
        name="securityQuestion"
        id="securityQuestion"
        formControlName="sQ"
        required
      >
        <option value="What is your pet name?">What is your pet name?</option>
        <option value="What is your favourite actor?">What is your favourite actor?</option>
        <option value="What is your city name?">What is your city name?</option>
        <option value="What is your date of birth?">What is your date of birth?</option>
        <option value="What is your last four digit of mobile number?">
          What is your last four digit of mobile number?
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="SecuritAnswer">Security Answer </label>
      <input
        type="text"
        id="SecurityAnswer"
        class="form-control"
        name="SecurityAnswer"
        formControlName="answer"
        required
      />
      <!-- <span class="help-block"
            >Answer is
            required</span> -->
    </div>

    <div class="mb-3">
      <input type="submit" class="btn btn-primary" (click)="submit()" [disabled]="!sqCheckForm.valid" />
    </div>
  </form>
</div>
<app-footer></app-footer>