<app-header></app-header>

<!-- <div class="navbar">
    <a [routerLink]="['/msp']" routerLinkActive class="nav-item">MSP</a>
    <a [routerLink]="['/transaction']" routerLinkActive class="nav-item">Transaction</a>
    <a class="logout nav-item navbar-end" (click)="logout()">Logout</a>
</div> -->

<nav class="navbar is-white has-shadow" role="navigation" aria-label="main navigation">
    <div #menu class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" [routerLink]="['/msp']" routerLinkActive>MSP</a>
            <a class="navbar-item" [routerLink]="['/transaction']" routerLinkActive>Transaction</a>
        </div>
        <h1 style="text-align: center; color: brown;"><b>Farmer Dashboard</b>  </h1>
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"> Profile </a>
              <div class="navbar-dropdown">
                <a class="navbar-item" [routerLink]="['/farmer/viewProfile']" routerLinkActive> View Profile </a>
                <a class="navbar-item" (click)="logout()"> Logout </a>
              </div>
            </div>
          </div>
    </div>
</nav>



