<app-header></app-header>

<!-- <div class="navbar">
    <a [routerLink]="['/msp']" routerLinkActive class="nav-item">MSP</a>
    <a [routerLink]="['/transaction']" routerLinkActive class="nav-item">Transaction</a>
    <a class="logout nav-item navbar-end" (click)="logout()">Logout</a>
</div> -->

<nav class="navbar is-white has-shadow" role="navigation" aria-label="main navigation">
    <div #menu class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" [routerLink]="['/msp']" routerLinkActive>MSP</a>
            <a class="navbar-item" [routerLink]="['/transaction']" routerLinkActive>Transaction</a>
        </div>
        <div class="navbar-end">
            <a class="logout navbar-item" (click)="logout()">Logout</a>
        </div>
    </div>
</nav>

<app-footer></app-footer>