<app-home-page></app-home-page>
<div class="container">
  <form [formGroup]="resetPassForm">
    <table>
      <tr>
        <td>Enter new password</td>
        <td>
          <input
            name="password"
            formControlName="password1"
            [type]="hide ? 'password' : 'text'"
          />
        </td>
        <td>
          <button (click)="toggleEye()">
            <img src="../../../assets/eye.png" />
          </button>
        </td>
      </tr>

      <tr>
        <td>Confirm password</td>
        <td>
          <input
            name="password2"
            formControlName="password2"
            [type]="hide ? 'password' : 'text'"
          />
        </td>
        <td>
          <button (click)="toggleEye()">
            <img src="../../../assets/eye.png" />
          </button>
        </td>
      </tr>
      <tr
        *ngIf="
          !matchPassword(
            resetPassForm.controls['password1'].value,
            resetPassForm.controls['password2'].value
          )
        "
      >
        passwords doesnt match
      </tr>
      <tr>
        <button type="submit" (click)="submit()" class="btn btn-primary" [disabled]="!resetPassForm.valid">Reset password</button>
      </tr>
    </table>
  </form>
</div>
