<app-header></app-header>
<app-nav-bar></app-nav-bar>
<div class="container">
  <form [formGroup]="resetPassForm">
    <table>
      <tr>
        <td>Enter new password</td>
        <td>
          <input
            name="password"
            matInput
            pattern="^(?=.*[0-9])(?=.*[a-z]).{6,12}$"
            formControlName="password1"
            [type]="hide ? 'password' : 'text'"
          />
        </td>
        <td>
          <i
            class="material-icons"
            matSuffix
            (click)="hide = !hide"
            style="cursor: pointer"
          >
            {{ hide ? "visibility" : "visibility_off" }}
          </i>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <span
            style="color: red"
            *ngIf="
              !resetPassForm.get('password2').valid &&
              resetPassForm.get('password2').touched
            "
            >password should be of length 6 to 12, and must include one
            number</span
          >
        </td>
        <td></td>
      </tr>

      <tr>
        <td>Confirm password</td>
        <td>
          <input
            name="password2"
            matInput
            pattern="^(?=.*[0-9])(?=.*[a-z]).{6,12}$"
            formControlName="password2"
            [type]="hide2 ? 'password' : 'text'"
          />
        </td>

        <td>
          <i
            class="material-icons"
            matSuffix
            (click)="hide2 = !hide2"
            style="cursor: pointer"
          >
            {{ hide2 ? "visibility" : "visibility_off" }}
          </i>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <span
            style="color: red"
            *ngIf="
              !resetPassForm.get('password2').valid &&
              resetPassForm.get('password2').touched
            "
            >password should be of length 6 to 12, and must include one
            number</span
          >
        </td>
        <td></td>
      </tr>
      <tr
        *ngIf="
          !matchPassword(
            resetPassForm.controls['password1'].value,
            resetPassForm.controls['password2'].value
          )
        "
      >
        passwords doesnt match
      </tr>
      <tr>
        <button
          type="submit"
          (click)="submit()"
          class="btn btn-primary"
          [disabled]="
            !matchPassword(
              resetPassForm.controls['password1'].value,
              resetPassForm.controls['password2'].value
            ) || resetPassForm.controls['password2'].value == ''
          "
        >
          Reset password
        </button>
      </tr>
    </table>
  </form>
</div>
<app-footer></app-footer>
