<app-buyer></app-buyer>
<div class="container">
    <table class="table table-striped" >
      <thead>
        <tr>
           <th>Transaction Id</th>
            <th>Crop Name</th>
            <th>Crop class</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Mandi Pincode</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transactions of transaction">
         
          
          
          <td>
              
              </tr>
            </tbody>
        </table>
  </div>