
.container{
    align-content: center;
width: 700px;
height: 500px;

.fixed_header{
    width: 700px;
    table-layout: auto;
   
}
.fixed_header tbody tr{
    border: 1px solid black;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 200px;
  text-align: center;
 
}

.fixed_header thead tr {
   display: block;
   border: 1px solid black;
}

.fixed_header thead {
  background:wheat;
  color:#fff;
  
}

.fixed_header th, .fixed_header td {
  padding: 10px;
  text-align: left;
  width: 500px;
  
}
.fixed_header td{
    border: 1px solid black;
}
}