<app-admin></app-admin>
<div class="container">
  <div class="table-card">
    <table class="table" class="fixed_header" style="background-color: wheat; border: wheat;">
      <thead>
        <tr>
            <th> ClerkId</th>
          <th> ClerkName</th>
          <th> Mobile</th>
         
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clerks of clerk">
          <td>{{clerks.clerkId}}</td>
          <td>{{clerks.clerkName}}</td>
          <td>{{clerks.mobileNumber}}</td>
          
         
              
              </tr>
             
            </tbody></table>
          </div>
  </div>


