<app-header></app-header>
<div class="container">
    <table class="table table-striped" >
      <thead>
        <tr>
            <th> ClerkId</th>
          <th> ClerkName</th>
          <th> Mobile</th>
         
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clerks of clerk">
          <td>{{clerks.clerkId}}</td>
          <td>{{clerks.clerkName}}</td>
          <td>{{clerks.mobileNumber}}</td>
          
          <td>
              
              </tr>
            </tbody></table>
  </div>


