
.container{
    text-emphasis-color: Red;
  width: 50%;
  background-color: wheat;
  opacity: 0.7;
  border: 1px red solid;
  height: 50%;
  overflow-y: scroll;
  padding: 10px;
}

.search-clerkid-block{
    padding-left: 500px;
    
}