.navbar{
    background-color: rgb(65, 60, 60);
    padding: 20px;

    a{
        color: white;
        text-decoration: none;
        display: inline-block;
    }

    .nav-item{
        padding: 10px;
        color: rgb(250,151,2);
        font-size: 20px;

        &:hover, &:active, &:focus{
            background-color: rgb(31, 29, 29);
            color: white;
            transition: 0.6s ease-out;
        }
    }
}

.container{
    text-emphasis-color: Red;
    width: 50%;
    background-color: wheat;
    opacity: 0.7;
    border: 1px red solid;
    padding:10px;
}

.card{
    width: 70%;
    margin-left: 40%;
    margin-right: 50%;
    padding: 30px;
    background-color: wheat;
    margin: 0 auto;

    .search-state-block{
        width: 50%;
        margin: 0 auto;
        
        input{
            margin-right: 10px;
        }
        button{
            background-color: brown;
            color: white;
        }
    }
}

.crop-table{
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    color: black;

    table, td, th {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }
      
    table {
        width: 100%;
        border-collapse: collapse;
    }
}