<app-farmer></app-farmer>

<!-- <div class="navbar">
    <a [routerLink]="['/msp']" routerLinkActive class="nav-item">MSP</a>
    <a [routerLink]="['/transaction']" routerLinkActive class="nav-item">Transaction</a>
</div> -->

<div class="container">
<div class="card">
    <div class="search-state-block">
        <input type="text" placeholder="Enter state name.." [(ngModel)]="stateName" />
        <button (click)="onStateSearch()">Search</button>
    </div>

    <div class="crop-table">
        <table>
            <tr>
                <th>Crop Name</th>
                <th>MSP</th>
            </tr>
            <tr *ngFor="let crop of crops">
                <td>{{ crop.cropName }}</td>
                <td>{{ crop.cropMSP }}</td>
            </tr>
        </table>
    </div>
</div>
</div>

<!-- <app-footer></app-footer> -->
