.navbar {
  background-color: ghostwhite;
  opacity: 0.5;
  position: -webkit-sticky;
  position: sticky;
  line-height: 50px;
  .navbar-item {
    font-size: x-large;
    text-decoration: none;
    color: brown;
    font-weight: bold;
  }
}
