.container
{
    width: 50%;
}

.panel-heading
{
    background-color: wheat;
    opacity: 0.7;
    color: brown;
    border-bottom: 0px;

    .panel-title
    {
        font-size: 30px;
        padding-top: 3px;
        font-weight: bolder;
    }
}

.panel-footer
{
    background-color: wheat;
    opacity: 0.7;
    color: brown;
    padding-left: 3%;
    padding-bottom: 3%;

    button
    {
        opacity: 1;
        background-color: green;
    }
}