<app-header></app-header>

<nav class="navbar is-white has-shadow" role="navigation" aria-label="main navigation">

  <div #menu class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/buyer/buycrops']" routerLinkActive>Buy Crops</a>
      <a class="navbar-item" [routerLink]="['/buyer/viewTransaction']" routerLinkActive>View Transactions</a>
    </div>

    <h1 style="text-align: center; color: brown; padding-top: 0.6%; font-size: 40px;">
      <b><a [routerLink]="['/buyer']" style="text-decoration: none; color:brown">Buyer Dashboard</a></b>
    </h1>
  
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Profile </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" [routerLink]="['/buyer/viewProfile']" routerLinkActive> View Profile </a>
          <a class="navbar-item" (click)="logout()"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>
