<app-header></app-header>
<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="buttons">
    <table class="row">
      <tr>
        <button class="button is-success is-large">
          <a
            [routerLink]="['/signup']"
            routerLinkActive
            style="color: brown; text-decoration: none"
            >Signup as Farmer</a
          >
        </button>
      </tr>
      <tr>
        <button class="button is-success is-large">
          <a
            [routerLink]="['/buyer-signup']"
            routerLinkActive
            style="color: brown; text-decoration: none"
            >Sign Up as Buyer</a
          >
        </button>
      </tr>
    </table>
  </div>
</div>
<app-footer></app-footer>