@import "../../mainstyles.scss";

// .navbar{
//     background-color: $beige-light;
//     height: 70px;

//     .button{
//         margin-top: 10px;
//         height: 50px;
//         width: 150px;
//         font-size: x-large;
//     }

//     .navbar-item{
//         font-size: x-large;
//     }
// }

.navbar {
  background-color: ghostwhite;
  opacity: 0.5;
  height: 30px;

  .navbar-menu {
    height: 30px;
  }
  .navbar-item {
    font-size: large;
    text-decoration: none;
    color: brown;
    font-weight: bold;

    a {
      text-decoration: none;
      color: brown;
    }
  }
  .navbar-link {
    text-decoration: none;
    color: brown;
  }
  // .button{
  //     // margin-top: 15px;
  //     height: 50px;
  //     width: 150px;
  //     font-size: x-large;
  //     background-color: green;
  // }
}
