<app-header></app-header>
<nav class="navbar" role="navigation" aria-label="main navigation">

    <div class="navbar">
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Update
          </a>
    
          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="updateMSP">
              MSP
            </a>
            <a class="navbar-item">
              Cost To Buyers
            </a>
            <a class="navbar-item" routerLink="viewProfile">
                Crop Quality Price
            </a>
            <a class="navbar-item" routerLink="viewProfile">
                Clerk
            </a>
          </div>
        </div>
    </div>

    <div class="navbar">
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            View
          </a>
    
          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="viewProfile">
              Crop Details
            </a>
            <a class="navbar-item">
              Farmer Details
            </a>
            <a class="navbar-item" routerLink="viewProfile">
                Buyer Details
            </a>
            <a class="navbar-item" routerLink="viewProfile">
                Clerk Details
            </a>
          </div>
        </div>
      </div>

      <div class="navbar">
          <button class="button is-primary" routerLink="addMandi">Add Mandi</button>
      </div>
    
    <div class="navbar-end">
  
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Profile
        </a>
  
        <div class="navbar-dropdown">
          <a class="navbar-item">
            View Profile
          </a>
          <a class="navbar-item">
            Logout
          </a>
        </div>
      </div>
    </div>
  
  </nav>
