.container {
  display: flex;
  justify-content: center;
  padding: 100px;



  .contact {
    background: wheat;
    opacity: 0.9;
    width: 50%;
    padding: 10px;
    bottom: 200px;
    border-radius: 5px;
  }
}
