<app-admin></app-admin>

<div class="form-container">

  <form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm,cname.value); profileForm.resetForm()">

    <div class="field">
      <label>Crop Name</label>
        <div class="control">
          <input #cname class="input" required type="text" [ngModel]="crop.cropName" name="cropName">
        </div>
      </div>

      <br>
      
      <div class="field" id="fieldMSP">
        <label>MSP</label>
        <div class="control">
            <input #msp class="input" required type="text" [(ngModel)]="crop.cropMSP" name="cropMSP" pattern="[1-9]([0-9])?" #cropMSP="ngModel">
            <span class="help-block" *ngIf="cropMSP.errors?.pattern" style="color: red;">Invalid MSP</span>
          </div>
      </div>

      <br>
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" type="submit" [disabled]="!profileForm.valid">Update MSP</button>
        </div>
        <div class="control">
          <button class="button is-primary" type="button" (click)="getMSP(profileForm,cname.value)">Show MSP</button>
        </div>
        <div class="control">
          <button class="button is-primary" style="background-color: red;" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
        
</form>
</div>

