<app-admin></app-admin>

<div class="form-container">

  <form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm,cname.value); profileForm.resetForm()">

    <div class="field">
      <label>Crop Name</label>
        <div class="control">
          <input #cname class="input" required type="text" [ngModel]="crop.cropName" name="cropName">
        </div>
      </div>

      <br>
      
      <div class="field" style="display:none" id="field">
        <label>MSP</label>
        <div class="control">
            <input #msp class="input" required type="text" [ngModel]="crop.cropMSP" name="cropMSP">
          </div>
      </div>

      <br>
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" type="submit" [disabled]="disable">Update MSP</button>
        </div>
        <div class="control">
          <button class="button is-primary" type="button" (click)="getMSP(profileForm,cname.value)">Show MSP</button>
        </div>
      </div>
        
</form>
</div>

