<app-nav-bar></app-nav-bar>
<div class="search-mandi-block" style="align-content:center;">
    <input type="text" placeholder="Enter Mandi Pincode.." [(ngModel)]="mandipincode" />
 
    <button (click)="onMandiSearch()" >Search</button>
  
</div>
<br>
<div class="container">
    <div class="table-card">
        <form  (ngSubmit)="onSubmit()">
          
      <table class="table" class="fixed_header" style="background-color: wheat; border: wheat;">
        
        <thead>
          <tr>
           
              <th> CropName</th>
            <th> Cost</th>
            <th> Class</th>
            <th> Quantity(Quintal)</th>
            <th>AddRequest</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let crops of farmer ;let i=index; ">
            
              
            <td>{{crops.cropName}}</td>
            <td>{{crops.amount}}</td>
            <td>{{crops.cropClass}}</td>
           
            <td><input #quantity type="number" placeholder="Enter Quantity " ></td>
            
             <td><input type="button" value="add" (click)="saveData(quantity, crops)"></td>
                
                </tr>
                
            
              </tbody>
        
            </table>
    
            <button type="submit" class="btn btn-success btn-lg float-left"  style="background-color:brown;" >Buy</button>
          
          </form>
           

    </div>
  </div>  

  <app-footer></app-footer>