<app-header></app-header>

<nav class="navbar is-white has-shadow" role="navigation" aria-label="main navigation">
  <div #menu class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/clerk']" routerLinkActive>Buy Crops</a>
      <a class="navbar-item" [routerLink]="['/clerk']" routerLinkActive>Credit</a>
      <a class="navbar-item" [routerLink]="['/clerk']" routerLinkActive>Buyer Requests</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link navbar-item">View</a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" [routerLink]="['/clerk']" routerLinkActive>Farmers</a>
          <a class="navbar-item" [routerLink]="['/clerk']" routerLinkActive>Buyers</a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <a class="logout navbar-item" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>

<!-- <nav class="navbar is-white has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-end">
    </div>
    <a class="navbar-item" href="contact-us" (click)="logout()">Logout</a>
  </div>
</nav> -->
<app-footer></app-footer>