<app-header></app-header>

<nav class="navbar is-white has-shadow" role="navigation" aria-label="main navigation">
  <div #menu class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/clerk/buyCropsTab']" routerLinkActive>Buy Crops</a>
      <a class="navbar-item" [routerLink]="['/clerk/creditTab']" routerLinkActive>Credit</a>
      <a class="navbar-item" [routerLink]="['/clerk/buyerRequests']" routerLinkActive>Buyer Requests</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link navbar-item">View</a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" [routerLink]="['/clerk/farmerView']" routerLinkActive>Farmers</a>
          <a class="navbar-item" [routerLink]="['/clerk/buyerView']" routerLinkActive>Buyers</a>
        </div>
      </div>
    </div>
    <h1 style="text-align: center; color: brown; padding-top: 0.6%; font-size: 40px;">
      <b><a [routerLink]="['/clerk']" style="text-decoration: none; color:brown">Clerk Dashboard</a></b>
    </h1>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link navbar-item">Profile</a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" [routerLink]="['/clerk/viewProfile']" routerLinkActive>View Profile</a>
          <a class="logout navbar-item" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <h1>Welcome to Clerk Dashboard!!</h1>
</div>

<app-footer></app-footer>