<app-home-page></app-home-page>
<div class="container">

  <div class="buttons">

    <button class="button is-success" ><a href="farmer" style="color: aquamarine;">Login as Farmer</a></button>
    <button class="button is-success"><a href="buyer" style="color: aquamarine;">login as Buyer</a></button>
    <button class="button is-success">login as Clerk</button>
    <button class="button is-success"><a href="admin" style="color: aquamarine;">login as Admin</a></button>
    <button class="button is-success">login as Super Admin</button>
  </div>
</div>
