<app-home-page></app-home-page>

<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <label for="userType">Select your user type:</label>
      <select id="UserType" name="UserType" formControlName="userType">
        <option value="farmer">Farmer</option>
        <option value="clerk">Clerk</option>
        <option value="buyer">Buyer</option>
        <option value="admin">Admin</option>
        <option value="sAdmin">SuperAdmin</option>
      </select>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">UserId</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="inputEmail3"
          formControlName="id"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label"
        >Password</label
      >
        <span class="col-sm-10">
          <input
            class="form-control"
            matInput
            id="inputPassword3"
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          />
          <i
            class="material-icons"
            matSuffix
            (click)="hide = !hide"
            style="cursor: pointer"
          >
            {{ hide ? "visibility" : "visibility_off" }}
          </i>
        </span>
      </div>
    <div class="col-12">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!loginForm.valid"
      >
        Log In
      </button>
      <button type="button" class="btn btn-primary fp" routerLink="/forget">
        Forget Password
      </button>
    </div>
  </form>
</div>
