.container{
    width: 500px;
    height:fit-content;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    border-radius:5px;
    padding: 30px;
    opacity:1;
    background-color:white;

   img{
        height: 20px;
        border:0px;
    }

}
.tog{
 border: 0.5px solid rgb(206, 203, 203);
 border-radius:3px
}
.col-12{
    .fp{
        margin-left: 200px;
    }
}