<app-farmer></app-farmer>

<body style="overflow-y: scroll; height: 75%; background-color: brown ; margin-bottom: 0%">
<div class="cont" style="background-color: brown; margin-bottom: 0%;" >

  <div  >
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/field1.jpg" class="d-block w-100" alt="First Slige">
          <div class="carousel-caption d-none d-md-block">
            
           
          </div>
        </div>
        <!-- <div class="carousel-item">
          <img src="https://source.unsplash.com/1400x400/?client" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div> -->
      </div>
      <!-- <button class="carousel-control-prev" [routerLink]="['/farmer']" routerLinkActive type="button"
        data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" [routerLink]="['/farmer']" routerLinkActive type="button"
        data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> -->
    </div>
  </div>

  <div>
    <div style="flex-direction: row; display: flex; ">
      <div class="card" style="width: 18rem; margin-left: 20%; margin-top: 2%;  margin-bottom: 30px;">
        <img src="../../assets/farmer payment.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Instant Payment</h1>
          <p class="card-text">Now you will get instant money after selling your crops in mandi. The clerk
            will pay you MSP at the time of selling.
            <br><br>
             Now you also get the extra amount for your crops based on your crop category.</p>

        </div>
      </div>
      <div class="card" style="width: 18rem; margin-left: 2%; margin-top: 2%;  margin-bottom: 30px;">
        <img src="../../../assets/Rabi-MSP-2021.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Know your MSP</h1>
          <p class="card-text">Now you will get the information of MSP of your crops by simply clicking on MSP tab.</p>

        </div>
      </div>
      <div class="card" style="width: 18rem; margin-left: 2%; margin-top: 2%; margin-bottom: 30px;">
        <img src="../../../assets/storage pic.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Mandi Storage</h1>
          <p class="card-text"> The middllemen dupe the farmers. Considering this, the website provide you information about available storage,
             Now due to transparency in storage, the middleman can't dupe the farmer any more.</p>

        </div>
      </div>
    </div>
  </div>
  <div class="instruction" style="text-align: center;">
    <h1 routerLink="" style="cursor: pointer;">Privacy Policy</h1><h1 routerLink="/contact-us" style="cursor: pointer;">Help</h1>
</div>
</div>
 
</body>
<app-footer></app-footer>