<app-clerk></app-clerk>

<div class="main-container">

    <div class="list-container">
        <h1>Buyer Ids</h1>
        <div class="list-menu">
            <a class="list-menu-item"
                *ngFor="let l of lists"
                (click)="getBuyer(l)">
                    <p>
                        {{l}}
                    </p>
                </a>
        </div>
    </div>
    
    <div class="details-container">
            <h1>Buyer Details</h1>
            <div class="personal-details">
                    <p>
                        Name: {{buyer.buyerName}}
                    </p>
                    <p>
                        Mobile Number: {{buyer.phoneNumber}}
                    </p>
            </div>
                <h1>Farmer Transaction Details</h1>
                <div class="details">
                <div class="list-details"
                *ngFor="let t of transactions">
                    <p>
                        Transaction Id: {{t.transactionId}}
                    </p>
                    <p>
                        Crop Name: {{t.cropName}}
                    </p>
                    <p>
                        Crop Class: {{t.cropClass}}
                    </p>
                    <p>
                        Quantity: {{t.quantity}}
                    </p>
                    <p>
                        Amount: {{t.amount}}
                    </p>
                    <p>
                        Date: {{t.date}}
                    </p>
                </div>
        </div>

    </div>

</div>
