<app-header></app-header>
<nav
  class="navbar is-white has-shadow"
  role="navigation"
  aria-label="main navigation"
>
  <!--<div class="navbar-brand">
        <a class="navbar-item">
            <img  src="../../assets/logo.jpg" height="100px" width="200px" >
        </a>
    </div>-->
  <div
    #burger
    role="button"
    class="navbar-burger burger"
    (click)="toggleNavbar()"
    aria-label="menu"
    aria-expanded="false"
    data-target="navbarBasicExample"
  >
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </div>
  <div #menu class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['']" routerLinkActive>Home</a>
      <a class="navbar-item"[routerLink]="['/check-storage']" routerLinkActive>Check Storages</a>
      <a class="navbar-item" [routerLink]="['/about']" routerLinkActive
        >About Us</a
      >
    </div>
    <div class="navbar-end">
      <a
        [routerLink]="['/login-home']"
        routerLinkActive
        class="navbar-item"
        *ngIf="valid()"
        >Login</a
      >
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link navbar-item" *ngIf="valid()">Sign-up</a>

        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" [routerLink]="['/signup']" routerLinkActive>
            Farmer
          </a>
          <a
            class="navbar-item"
            [routerLink]="['/buyer-signup']"
            routerLinkActive
          >
            Buyer
          </a>
        </div>
      </div>
      <a class="navbar-item" *ngIf="!valid()" (click)="logout()">Logout</a>
      <a class="navbar-item" *ngIf="!valid()" (click)="gotoDashboard()">Go to your Dashboard</a>
      <a class="navbar-item" [routerLink]="['/contact-us']" routerLinkActive
        >Contact us</a
      >
    </div>
  </div>
</nav>
<body style=" margin:auto;width: 80%;; background: wheat; margin-bottom: 50px;">
  <h2 style="display:flex; align-items: center;justify-content: center;"><i>Welcome to E-Mandi</i></h2>
  <div class="parallax"></div>

  <div class="cards">
  <div class="card" style="width: 18rem; margin-left: 2%; margin-top: 2%; margin-bottom: 30px;">
    <img src="../../assets/farmer1 (2).jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title">Benifits to Farmer</h1>
      <p class="card-text"> Using our website farmers allover india could sell their crops instantly and get money they deserve.They dont have to
        be at the mercy of buyer.They will have control of their crops and the process of buying and selling of the crops will be transperent to the farmer
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-left: 2%; margin-top: 2%; margin-bottom: 30px;">
    <img src="../../assets/selling crop 2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title">Benifits to Buyer</h1>
      <p class="card-text"> Using our website Buyers can get their required smount of raw material and they even could give the right amount for it they dont have to go place to place for that
        as they can get everything at one place. 
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-left: 2%; margin-top: 2%; margin-bottom: 30px;">
    <img src="../../assets/map farmer edit 2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title">Benifits to Goverment</h1>
      <p class="card-text"> With the help of our website The Government could monitor the whole process and keep it transperent to all the people and get farmers their
        rightful money which they deserve. And also the problems regarding could be eliminated.
      </p>
    </div>
  </div>
</div>
</body>
<app-footer style="
position: -webkit-sticky;
position: sticky;
display: block;

"></app-footer>
