<app-header></app-header>
<nav
  class="navbar is-white has-shadow"
  role="navigation"
  aria-label="main navigation"
>
  <!--<div class="navbar-brand">
        <a class="navbar-item">
            <img  src="../../assets/logo.jpg" height="100px" width="200px" >
        </a>
    </div>-->
  <div
    #burger
    role="button"
    class="navbar-burger burger"
    (click)="toggleNavbar()"
    aria-label="menu"
    aria-expanded="false"
    data-target="navbarBasicExample"
  >
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </div>
  <div #menu class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['']" routerLinkActive>Home</a>
      <a class="navbar-item"[routerLink]="['/check-storage']" routerLinkActive>Check Storages</a>
      <a class="navbar-item" [routerLink]="['/about']" routerLinkActive
        >About Us</a
      >
    </div>
    <div class="navbar-end">
      <a
        [routerLink]="['/login-home']"
        routerLinkActive
        class="navbar-item"
        *ngIf="valid()"
        >Login</a
      >
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link navbar-item" *ngIf="valid()">Sign-up</a>

        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" [routerLink]="['/signup']" routerLinkActive>
            Farmer
          </a>
          <a
            class="navbar-item"
            [routerLink]="['/buyer-signup']"
            routerLinkActive
          >
            Buyer
          </a>
        </div>
      </div>
      <a class="navbar-item" *ngIf="!valid()" (click)="logout()">Logout</a>
      <a class="navbar-item" *ngIf="!valid()" (click)="gotoDashboard()">Go to your Dashboard</a>
      <a class="navbar-item" [routerLink]="['/contact-us']" routerLinkActive
        >Contact us</a
      >
    </div>
  </div>
</nav>
<body style=" margin:auto;width: 100%;; background: wheat; margin-bottom: 50px;height: inherit;">
  <h1 style="display:flex; align-items: center;justify-content: center;font-size: 35px;"><b><i>Welcome to E-Mandi</i></b></h1>
  <div class="parallax"></div>

  <div class="cards">
  <div class="card" style="width: 18rem; margin-left: 2%; margin-top: 2%; margin-bottom: 30px;">
    <img src="../../assets/farmer1 (2).jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title">Benefits to Farmer</h1>
      <p class="card-text">{{farmer}}
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-left: 2%; margin-top: 2%; margin-bottom: 30px;">
    <img src="../../assets/selling crop 2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title">Benefits to Buyer</h1>
      <p class="card-text"> {{buyer}} 
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-left: 2%; margin-top: 2%; margin-bottom: 30px;">
    <img src="../../assets/map farmer edit 2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title">Benefits to Goverment</h1>
      <p class="card-text"> {{govt}}
      </p>
    </div>
  </div>
</div>
</body>
<app-footer style="
position: -webkit-sticky;
position: sticky;
display: block;

"></app-footer>
