footer{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-bottom: 0px;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  